.name {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    box-sizing: border-box;
}
.email {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    box-sizing: border-box;
}
.message {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    box-sizing: border-box;
}
.contact {
    display: flex;
    font-family:'Times New Roman', Times, serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;
    width: 65%;
    height: 100%;
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 20px #0d6efd;;
}