.footer-basic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    margin-top: 40px;
    padding: 10px;
    border-radius: 5px;
    
}
